@reference "@repo/tailwind-config/index.css";

@layer base {
  .ui--dialog-portal {
    @apply fixed inset-0 z-50;
  }

  .ui--dialog-backdrop {
    @apply fixed inset-0 z-50 bg-black/50;
    @apply transition-opacity duration-150 ease-out;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }
  .ui--dialog-backdrop[data-ending-style] {
    @apply transition-opacity duration-100 ease-in;
    opacity: 0;
  }

  .ui--dialog-popup {
    @apply bg-surface-primary;
    @apply fixed top-[50%] left-[50%] z-50 w-full;
    @apply gap-4 border shadow-lg;
    @apply max-w-full h-dvh md:h-auto md:max-h-11/12 md:rounded-lg;
    @apply flex flex-col;
    @apply transition-[opacity,transform] duration-150 ease-out;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    @starting-style {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.95);
    }
  }
  .ui--dialog-popup[data-ending-style] {
    @apply transition-[opacity,transform] duration-100 ease-in;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }

  .ui--dialog-popup > form {
    @apply bg-surface-primary;
    @apply gap-4 border shadow-lg;
    @apply max-w-full h-dvh md:h-auto md:max-h-11/12 md:rounded-lg;
    @apply flex flex-col;
  }

  .ui--dialog-popup__close {
    @apply ring-offset-surface-primary focus:ring-ring;
    @apply absolute top-4 right-4 rounded-xs opacity-70 cursor-pointer transition-opacity hover:opacity-100;
    @apply focus:ring-2 focus:ring-offset-2 focus:outline-hidden disabled:pointer-events-none;
    @apply [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4;
  }

  .ui--dialog-header {
    @apply flex flex-col gap-2 px-6 pt-6;
  }
  .ui--dialog-body {
    @apply h-full flex flex-col gap-2 px-6 overflow-y-auto;
  }
  .ui--dialog-footer {
    @apply flex gap-2 sm:flex-row px-6 pb-6 sm:justify-end;
  }
  .ui--dialog-title {
    @apply text-lg leading-none font-semibold focus-visible:outline-none;
  }
  .ui--dialog-description {
    @apply text-secondary text-sm;
  }
}
