@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);

  /* Main text and surface colors */
  --color-primary: var(--gray-800);
  --color-secondary: var(--gray-700);
  --color-tertiary: var(--gray-600);

  --color-surface-primary: white;
  --color-surface-primary-hover: var(--gray-100);
  --color-surface-primary-active: var(--gray-200);
  --color-surface-secondary: var(--gray-100);
  --color-surface-secondary-hover: var(--gray-300);
  --color-surface-secondary-active: var(--gray-400);
  --color-surface-tertiary: var(--gray-200);
  --color-surface-tertiary-hover: var(--gray-400);
  --color-surface-tertiary-active: var(--gray-500);

  /* Let's add other useful things */
  --color-stroke: var(--gray-300);
  --color-stroke-emphasis: var(--gray-600);
  --color-stroke-disabled: var(--gray-200);

  --color-ring: var(--ring);

  --color-link: #1d70b8;
  --color-link-hover: #003078;

  --color-accent: oklch(70.7% 0.165 254.624);

  /* Then we can move on to utility colors */
  --color-fill-default: rgba(48, 48, 48, 1);
  --color-fill-default-hover: rgba(26, 26, 26, 1);
  --color-fill-default-selected: rgba(26, 26, 26, 1);
  --color-fill-default-disabled: rgba(0, 0, 0, 0.17);
  --color-fill-default-fg: rgba(255, 255, 255, 1);
  --color-fill-default-fg-hover: rgba(227, 227, 227, 1);
  --color-fill-default-fg-disabled: rgba(255, 255, 255, 1);

  --color-fill-muted: var(--gray-400);
  --color-fill-muted-hover: var(--gray-500);
  --color-fill-muted-selected: var(--gray-500);
  --color-fill-muted-disabled: var(--gray-200);
  --color-fill-muted-fg: var(--gray-900);

  --color-fill-success: rgba(4, 123, 93, 1);
  --color-fill-success-hover: rgba(3, 94, 76, 1);
  --color-fill-success-selected: rgba(1, 75, 64, 1);
  --color-fill-success-disabled: rgba(4, 123, 93, 0.4);
  --color-fill-success-fg: white;

  --color-fill-info: rgba(145, 208, 255, 1);
  --color-fill-info-hover: rgba(81, 192, 255, 1);
  --color-fill-info-selected: rgba(202, 230, 255, 1);
  --color-fill-info-disabled: rgba(145, 208, 255, 0.4);
  --color-fill-info-fg: rgba(0, 33, 51, 1);

  --color-fill-destructive: rgba(199, 10, 36, 1);
  --color-fill-destructive-hover: rgba(163, 10, 36, 1);
  --color-fill-destructive-selected: rgba(142, 11, 33, 1);
  --color-fill-destructive-disabled: rgba(199, 10, 36, 0.4);
  --color-fill-destructive-fg: white;

  --color-fill-warning: rgba(255, 184, 0, 1);
  --color-fill-warning-hover: rgba(229, 165, 0, 1);
  --color-fill-warning-selected: rgba(178, 132, 0, 1);
  --color-fill-warning-disabled: rgba(255, 184, 0, 0.4);
  --color-fill-warning-fg: rgba(37, 26, 0, 1);

  
  /* --color-surface-info: rgba(234, 244, 255, 1);
  --color-surface-info-hover: rgba(224, 240, 255, 1);
  --color-surface-info-active: rgba(202, 230, 255, 1); */
  
  --breakpoint-desktop: 48rem; /* Same as md */

  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --text-2xs: 0.625rem;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.2433 0.0247 263.95);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.92 0.0035 247.86);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);

  --link: #0969da;
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);

  --link: #8cb4ff;
}

:root {
  --gray-50: #f8f9fa;
  --gray-100: #f1f3f5;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

@utility stack-row {
  @apply [&_svg]:shrink-0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
@utility stack-col {
  @apply [&_svg]:shrink-0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
@utility center {
  @apply flex justify-center h-full;
}

@keyframes border-blink {
  50% {
    border-color: var(--destructive);
  }
}

@utility animate-border-blink {
  animation: border-blink 1.8s steps(1, start) infinite;
}

@utility transition-fade-in {
  @apply animate-in fade-in duration-300 ease-in fill-mode-forwards;
}
@utility transition-fade-out {
  @apply animate-out fade-out duration-300 ease-out fill-mode-forwards;
}
