@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "@tailwindcss/typography";
@import "tw-animate-css";

@reference "./theme.css";

@custom-variant dark (&:is(.dark *));

@utility stack-row {
  @apply [&_svg]:shrink-0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
@utility stack-col {
  @apply [&_svg]:shrink-0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
@utility center {
  @apply flex justify-center h-full;
}

@keyframes border-blink {
  50% {
    border-color: var(--destructive);
  }
}

@utility animate-border-blink {
  animation: border-blink 1.8s steps(1, start) infinite;
}

@utility transition-fade-in {
  @apply animate-in fade-in duration-300 ease-in fill-mode-forwards;
}
@utility transition-fade-out {
  @apply animate-out fade-out duration-300 ease-out fill-mode-forwards;
}
