---
import Logo from "./Logo.astro";
import MobileMenu from "./MobileMenu.astro";
---

<header class="absolute w-full z-30">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="flex items-center justify-between h-20">
      <!-- Site branding -->
      <div class="shrink-0 mr-5">
        <a href="/" class="block" aria-label="TheOpenPresenter Logo">
          <Logo />
        </a>
      </div>

      <!-- Desktop navigation -->
      <nav class="hidden md:flex md:grow">
        <!-- Desktop menu links -->
        <ul class="flex grow justify-end flex-wrap items-center font-medium">
          <li>
            <a
              href="/pricing"
              class="text-gray-200 hover:text-white px-4 py-2 transition-colors"
            >
              Pricing
            </a>
          </li>
          <li>
            <a
              href="/download"
              class="text-gray-200 hover:text-white px-4 py-2 transition-colors"
            >
              Downloads
            </a>
          </li>
        </ul>

        <!-- Desktop CTA on the right -->
        <ul class="flex justify-end flex-wrap items-center">
          <li>
            <a
              href="/login"
              class="btn-sm text-white bg-teal-500 hover:bg-teal-400 ml-2"
            >
              Login
            </a>
          </li>
        </ul>
      </nav>

      <MobileMenu />
    </div>
  </div>
</header>
